---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Button from "../shared/Button.astro";
import BtnLink from "../shared/BtnLink.astro";
---

<section id="about-us">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-primary-900 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-primary-900 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/undraw_Shared_goals.png"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full rounded-3xl" />
            </div>
        </div>
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                You don't have to do it alone.
            </Title>
            <Paragraph className="mt-8">
                <strong>Gregg Prockton CPA CMA - Certified Business Coach</strong>
            </Paragraph>
            <Paragraph className="mt-6">
                Whether you've owned your business for months, or years, or you dreamt of a one-of-a-kind business idea; you're an entrepreneur. If you've 
                learned nothing else, it's that it's a lot easier to come up with an idea, or strategy, than it is to implement it. Running a successful 
                business is one of life's greatest mysteries and that's why the majority of small businesses fail within the first five-years. I understand 
                how scary this can seem. Fortunately, you don't have to do it alone!
            </Paragraph>
            <Paragraph className="mt-4">
                It is said that luck favors the prepared mind but that means knowing what you need to do and when you need to do it. "Winging it" is the M.O. 
                for most unprepared entrepreneurs, which is why most fail, but, by involving someone who has been there and done that for other successful 
                businesses; you will dramatically increase your chances for success. I have been there and done that and I want to see you succeed because I 
                care more about your success than my own.
            </Paragraph>
        </div>
    </Container>
    <Container className="mt-8 flex">
        <div class="mx-auto">
            <div class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0">
                <BtnLink text="Book Your Free Discovery Call" href="https://thecompassgroup.zohobookings.com/#/thecompassgroup" className="flex justify-center w-full sm:w-max" variant="primary"/>
            </div>
        </div>
    </Container>
</section>