---
import BtnLink from "../shared/BtnLink.astro";
import Button from "../shared/Button.astro";
---

<div>
  <div class='mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:flex lg:items-center lg:justify-between lg:px-8 lg:py-16'>
    <h2 class='text-3xl font-extrabold tracking-tight text-spruce dark:text-neutral-100 sm:text-4xl'>
      <span class='block'>Ready to start?</span>
      <span class='block text-primary-700 dark:primary-100'>
        Book your discovery call today!
      </span>
    </h2>
    <div class='mt-8 flex lg:flex-shrink-0'>
      <div class='inline-flex rounded-md'>
        <BtnLink text="Get Started Now" href="https://letsmeet.io/greggprockton/free-discovery-call" className="flex justify-center w-full sm:w-max" variant="primary"/>
      </div>
      <div class='ml-4 inline-flex rounded-md shadow lg:ml-3'>
      </div>
    </div>
  </div>
</div>