---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Button from "../shared/Button.astro";
---

<section id="features">
    <Container className="flex flex-col md:flex-row gap-10 lg:gap-12">
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                The Entrepreneur’s Edge
            </Title>
            <Paragraph className="mt-8">
                <strong>Our Flagship Coaching Program</strong>
            </Paragraph>
            <Paragraph className="mt-2">
                The Entrepreneur's Edge is a 12-month program designed to fully identify your pain points, develop and
                execute a custom strategy to mitigate those pain points to achieve your personal and professional
                goals. To learn more, and to ensure there's a spot available, please click below to book your free
                discovery call!
            </Paragraph>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>I will work with you to identify your pain points and determine the best course of action
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>I will perform an evaluation of your business from top to bottom and provide a report
                    highlighting the areas of greatest concern with a suggested solutions report.
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>Using proven frameworks, we will work together to implement the suggested solutions
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>We will meet regularly one-on-one, via Zoom and you will also have unlimited text and
                    email access to me; all to keep you on pace to meet your goals
                </li>
            </ul>
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-primary-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-primary-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-primary-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/undraw_Developer_activity.png"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto rounded-3xl left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
    </Container>
    <Container className="mt-8">
        <div>
            <Button variant={"primary"} className={"min-w-max"}>
                <span class="hidden sm:flex relative z-[5]">
                    Book Your Free Discovery Call
                </span>
            </Button>
        </div>
    </Container>
</section>