---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Button from "../shared/Button.astro";
---

<section id="features" class="bg-neutral-50 dark:bg-neutral-900 py-20">
    <h1 class="text-center text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl">
        Thinking about Starting a Business?
    </h1>
    <Paragraph className="mt-4 text-center text-l sm:text-xl md:text-2xl">Then download this <span class="text-primary-800">free</span> assessment to see how prepared you are:</Paragraph>
    <Container className="flex flex-col md:flex-row gap-10 lg:gap-12 mt-12">
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col bg-none">
            <div data-form-slug="392268186271747" data-env="production" data-path="contact-us/392268186271747" class="keap-custom-form"></div>
            <!-- <form novalidate="" class="flex flex-col py-6 space-y-6 md:py-0 md:px-6 items-end mt-8">
                <label class="block">
                    <span class="mb-1">First name</span>
                    <input type="text" placeholder="First Name" class="block w-full rounded-md shadow-sm focus:ring focus:ring-opacity-75 focus:dark:ring-violet-600 dark:bg-gray-100">
                </label>
                <label class="block">
                    <span class="mb-1">Last Name</span>
                    <input type="text" placeholder="Last Name" class="block w-full rounded-md shadow-sm focus:ring focus:ring-opacity-75 focus:dark:ring-violet-600 dark:bg-gray-100">
                </label>
                <label class="block">
                    <span class="mb-1">Email address</span>
                    <input type="email" placeholder="leroy@jenkins.com" class="block w-full rounded-md shadow-sm focus:ring focus:ring-opacity-75 focus:dark:ring-violet-600 dark:bg-gray-100">
                </label>
            </form> -->
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-primary-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-primary-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-primary-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/offering_thumbnail.png"} alt="Offering Think It! Map It! Do It!" 
                width="1240" height="1385"
                class=" w-auto rounded-3xl left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
    </Container>
    <Container className="mt-8 text-center">
        <div>
            <Button variant={"primary"} className={"min-w-max"}>
                <span class="hidden sm:flex relative z-[5]">
                    <strong>Download Now</strong>
                </span>
            </Button>
        </div>
    </Container>
</section>


<script>
    (function (window, document) {
        const keapForms = window.keapForms || {
            SNIPPET_VERSION: '1.1.0',
            appId: 'kgg680',
        };
    
        const script = document.createElement('script');
    
        script.type = 'text/javascript';
        script.crossOrigin = 'anonymous';
        script.defer = true;
        script.src = 'https://forms.keap.app/lib/public-form-embed.js?appId=kgg680&version=1.1.0';
    
        script.onload = function () {
            const keapFormsAfterLoad = window.keapForms;
    
            if (!keapFormsAfterLoad.renderAllForms) {
                // eslint-disable-next-line no-console
                console.error('[Keap Forms] Error: could not load');
            } else if (!keapFormsAfterLoad.invoked) {
                keapFormsAfterLoad.invoked = true;
                keapFormsAfterLoad.renderAllForms();
            }
        };
        const firstScriptTag = document.getElementsByTagName('script')[0];
    
        firstScriptTag.parentNode.insertBefore(script, firstScriptTag);
        window.keapForms = keapForms;
    }(window, document));
</script>