---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';
import Intro from '../components/sections/Intro.astro';
import Testimonial from '../components/sections/Testimonial.astro';
import Offering from '../components/sections/Offering.astro';
import CtaShort from '../components/sections/cta-short.astro';
---

<Layout title="Welcome to Compass Group">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<AboutUs/>
		<Features/>
		<CTA/>
		<Intro />
		<Testimonial />
		<Offering />
		<CtaShort />
	</main>
</Layout>